<body>
    
    <div class="content">

        <h1 class="logo">Cambios de <span>Juegos</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>Cambios de Juegos</h3>
                <form action="">
                   
                    <p>
                        <label>Email</label>
                        <input type="email" name="email"  required="required">
                    </p>
                    <p>
                        <label>Nombre de tu Juego</label>
                        <input type="tel" name="phone"  required="required">
                    </p>
                    <p>
                        <label>Precio Real</label>
                        <input type="number" name="affair"  required="required" placeholder="$">
                    </p>
                   
                    <p class="block">
                        <button type="submit">
                            Send
                        </button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>Instrucciones</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> 1</li>
                    <li><i class="fas fa-phone"></i> 1</li>
                    <li><i class="fas fa-envelope-open-text"></i>2</li>
                    <li><i class="fas fa-envelope-open-text"></i>3</li>
                </ul>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis provident velit porro suscipit, sit quod dolor magnam maiores quidem voluptas quia temporibus asperiores sed architecto eius obcaecati deleniti sapiente quisquam?</p>
                <p>CgameS.com</p>
            </div>
        </div>

    </div>

</body>