<body>
    <header class="game">
        <section class="textos-header">
           
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h1>CGAMES</h1>
            <h2>Todo sobre video juegos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Aplicacion web y movil de video juegos</h3>
                    <p>En la app los usuarios pueden mirar las ultimas noticias de los juegos destacados del año, cambiar juegos que ya hallan utilizado</p>
                    <h3><span>2</span>Comunidad Cgames</h3>
                    <p>Se esta trabajando para crear una comunidad de gamers para que compartan sus experiencias en sus juegos favoritos y generar un ambiente de experiencias, amistad y muecha diversion. </p>
                </div>
            </div>
        </section>
        
        <section class="clientes contenedor">
            <h2 class="titulo">Integrantes</h2>
            <div class="cards">
                <div class="card">
                    <img src="../../../assets/img/fifa01.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Sebastian Moreno</h4>
                        <p>BICTIA Desarrollador Fullstack 2020</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets/img/halo5.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Cristhian Moreno</h4>
                        <p>BICTIA Desarollador Fullstack 2020</p>
                    </div>
                </div>
            </div>
        </section>
       
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>8296312</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; CgameS | Sebastian Moreno - Cristhian Moreno</h2>
    </footer>
</body>

