.mat-expansion-panel-header{
  background-color: #2b0a35;
}
::ng-deep .mat-expansion-panel{
  background-color: black;
}

::ng-deep .mat-expansion-panel-body{
  background-color:#7b1fa2;
  text-align: center;
}
.mat-button{
  background-color: #2b0a35;
}
.mat-expansion-panel-header-description {
  justify-content: flex-end;
}
#not{
  background-image: url(https://images8.alphacoders.com/829/thumb-1920-829715.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}
.nocc{
  background-color: #2b0a35d2;
}