/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-drawer-content{
    width: 100%;
}
.mat-expansion-panel-body .ng-tns-c53-1{
    display: inline-block;
    text-align: center;
    max-width: 50%;
  }
  .mat-expansion-panel-body img{
    margin-right: 50px;
  }
  .mat-list-base{
    padding-top: 40px !important;
  }
  
  @media screen and (min-width: 961px){
    .mat-drawer-content {
      margin-left: 200px;
      max-width: 87%;
    }
  }
  @media screen and (max-width: 960px){
      .mat-drawer-content {
        max-width: 100%;
      }
    }
  @media screen and (max-width: 660px){
      .mat-drawer-content {
        max-width: 72%;
      }
  }
  @media screen and (max-width: 600px){
    .mat-drawer-content {
      margin : auto;
      max-width: 100%;
    }
  }
  .mat-drawer-inner-container{
   background-image: url(https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1575985679/content-items/003/498/421/Warframe_Issue_2_web-original.jpg?1575985679);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  }