  <div class="d-flex" id="jue">
    <div style="max-width: 100%; justify-content: center;" class="row">
  <mat-card *ngFor="let juego of juegos" class="example-card col-lg-4 col-md-6 col-sm-12">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{juego.name_game}}</mat-card-title>
      <mat-card-subtitle>{{juego.rol}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{juego.link_imagen}} alt="imagen de juego">
    <mat-card-content>
      <p>
        {{juego.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/guia"><button style="color: white;" mat-button>Guías, consejos y más</button></a>
      {{juego.consejos}}
    </mat-card-actions>
  </mat-card>
  </div>
</div>