.example-card {
    max-width: 303px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
  }
  .example-header-image {
    background-image: url('../../../assets/img/logo.png');
    background-size: cover;
  }
  .mat-card{
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(123,31,162,1) 29%, rgba(123,31,162,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(29%, rgba(0,0,0,1)), color-stop(29%, rgba(123,31,162,1)), color-stop(100%, rgba(123,31,162,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(123,31,162,1) 29%, rgba(123,31,162,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(123,31,162,1) 29%, rgba(123,31,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(123,31,162,1) 29%, rgba(123,31,162,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(123,31,162,1) 29%, rgba(123,31,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7b1fa2', GradientType=0 );
  }
  .mat-card-subtitle{
    color: white;
  }
  .mat-card-image{
    max-height: 100%;
  }
  .mat-card-actions{
    display: flex;
    justify-content: center;
  }
  .mat-drawer-content{
    width: 100% !important;
  }
